body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.encryption-container, .decryption-container {
  display: none;
}

.link-button {
  background:none!important;
  border:none;
  padding:0!important;
  cursor: pointer;
  text-decoration: none;
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.file-size {
  padding-top: 10px;
}

.delete-x {
  font-size: 1em;
  margin-top: 12px;
}

.download-file {
  font-size: 1em;
  margin-top: 10px;
}

A{text-decoration:none}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 300%;
  font-weight: lighter;
  letter-spacing: 4px;
  color: #FF4136;
}

.redText {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.thinRed {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.orangeText {
  color: #FF851B;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.title a {
  color: #FF4136;
}

.intro-text {
  color: #FF851B;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-top: 40px;
}

.choose-password-msg {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.3em;
}

.select-files-msg {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  text-align: center;
}

.outer {
  padding: 80px 80px;
}

.container {
  padding: 0px 30px 50px 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  border: 1px solid #FF851B;
  border-radius: 12px;
}

@media (max-width:870px) {
  .outer {
    padding: 25px 25px;
  }
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  background: #ffffff;
  font-size: 1.8em;
  border: solid #FF4136 1px;
  text-decoration: none;
}

.floatLeft {
  float:left;
}

.btn:hover {
  background: #ffffff;
  color: #FF851B;
  border: solid #FF851B 1px;
  text-decoration: none;
}

input[type=password] {
  border: 1px solid #FF4136;
  border-radius: 4px;
  /*height:25px;*/
  padding: 8px;
  font-size: 20px;
  width: 202px;
}

#encrypt-button {
  width: 100%;
}

#decrypt-button {
  width: 100%;
}

#decrypt-password-input {
  width: 220px;
}

.password-control-container {
  text-align: center;
}

.password-control-group {
  width: 220px;
  margin: auto;
}

.password-control-field {
  margin-top: 4px;
}

/* File upload */

input[type=file] {
  /*border: 1px solid #FF4136;*/
  border-radius: 4px;
  height: 25px;
  padding: 5px;
  font-size:14px;
  width: 220px;
}

#dropzone {
  min-height: 130px;
  /*border: 4px dashed #FF851B;*/
  border: 4px dashed #FF851B;
  border-radius: 4px;
  padding: 10px;
}

#dropzone.hover {
  border: 4px dashed #39CCCC;
}

#selectFilesButton {
  vertical-align: middle;
  margin-top: 5px;
}

#dragAndDropHere {
  font-size: 1.3em;
  text-align: center;
}

#drag-msg-and-browse-button {
  margin-top: 5px;
  text-align: center;
}

#drag-files-here-msg {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.7em;
  color: #FF4136;
}

#or-browse-msg {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  color: #FF4136;
  margin: 8px 0px;
}

.fileDisplay {
  border: 1px solid #FF4136;
  border-radius: 4px;
  padding: 8px 5px;
}

.fileDisplay span {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

/* Decrypted file display */

#decrypted-files {
  min-height: 130px;
  border: 1px solid #FF851B;
  border-radius: 4px;
  padding: 10px;
  display: none;
}

#decrypt-helper-message {
  padding: 4px;
  font-size: 1.2em;
}

/* Progress reporting */

#encrypt-progress-summary {
  text-align: left;
}

#decrypt-progress-summary {
  text-align: left;
}

#encrypt-progress-summary li, #decrypt-progress-summary li {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
}

/* Validation */

.validation-error {
  display: none;
  color: #FF4136;
  font-size: .9em;
  text-align: left;
}

/* Footer */

.footer {
  margin-top: 0px;
  text-align: center;
  color: #AAAAAA;
  font-size: .8em;
}

.footer-container {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  margin-bottom: 40px;
}

.footer hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  margin: 2px;
}

.footer a, .footer a:visited, .footer a:hover {
  color: #FF851B;
}

/* about.html */
.help-text {
  color: #888888;
}


/* Decrypted file image thumbnails */

.image-thumbnail {
  max-width:100px;
  height: 46px;
}