body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 300%;
  font-weight: lighter;
  letter-spacing: 4px;
  color: #FF4136;
}

#container {
  padding: 0px 30px 50px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  border: 1px solid #FF851B;
  border-radius: 12px;
}

@media (min-width:1310px) {
  #container {
    margin-top: 100px;
  }
}
@media (max-width:870px) {
  #container {
    margin-top: 0px;
  }
}

.btn {
  float:left;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #FF4136 1px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  color: #FF851B;
  border: solid #FF851B 1px;
  text-decoration: none;
}

input[type=password] {
  border: 1px solid #FF4136;
  border-radius: 4px;
  height:25px;
  padding: 5px;
  font-size:20px;
}

input[type=file] {
  border: 1px solid #FF4136;
  border-radius: 4px;
  height: 25px;
  padding: 5px;
  font-size:14px;
  width: 220px;
}

#progress-summary li {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
}

/* Progress indicator */
.progress {
  position: relative;
  float:left;
  margin-left: 20px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
}
.progress .percent {
  text-align: center;
  font-size: 12px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  color: #FF4136;
  position: absolute; 
  line-height: 50px;
  width: 100%;
}
.progress svg path {
  fill: none;
}
.progress svg.progress-circle path {
  stroke: #FF4136;
  stroke-width: 1;
}

