body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.link-button {
  background:none!important;
  border:none;
  padding:0!important;
  /*font: inherit;*/
  /*border is optional*/
  /*border-bottom:1px solid #444;*/
  cursor: pointer;
  text-decoration: none;
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.file-size {
  padding-top: 10px;
}

.delete-x {
  font-size: 1em;
  margin-top: 12px;
}

.download-file {
  font-size: 1em;
  margin-top: 12px;
}

A{text-decoration:none}

/* .col { */
/*   margin-left: 10px; */
/*   margin-right: 10px; */
/* } */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 300%;
  font-weight: lighter;
  letter-spacing: 4px;
  color: #FF4136;
}

.redText {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.orangeText {
  color: #FF851B;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.thinRed {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.outer {
  padding: 80px 80px;
}

.container {
  padding: 0px 30px 50px 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  border: 1px solid #FF851B;
  border-radius: 12px;
}

@media (max-width:870px) {
  .outer {
    padding: 25px 25px;
  }
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  background: #ffffff;
  font-size: 1.8em;
  border: solid #FF4136 1px;
  text-decoration: none;
}

.floatLeft {
  float:left;
}


.btn:hover {
  background: #ffffff;
  color: #FF851B;
  border: solid #FF851B 1px;
  text-decoration: none;
}

input[type=password] {
  border: 1px solid #FF4136;
  border-radius: 4px;
  /* height:25px; */
  padding: 5px;
  font-size: 20px;
}

/* File upload */

input[type=file] {
  /*border: 1px solid #FF4136;*/
  border-radius: 4px;
  height: 25px;
  padding: 5px;
  font-size:14px;
  width: 220px;
}


/* File Drag-and-drop */
#dropzone {
  min-height: 130px;
  /*border: 4px dashed #FF851B;*/
  border: 4px dashed #FF851B;
  border-radius: 4px;
  padding: 10px;
}

#dropzone.hover {
  border: 4px dashed #39CCCC;
}

#selectFilesButton {
  vertical-align: middle;
}

#dragAndDropHere {
  font-size: 1.3em;
  text-align: center;
}

.fileDisplay {
  border: 1px solid #FF4136;
  border-radius: 4px;
  padding: 8px 5px;
}

.fileDisplay span {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

/* Decrypted file display */

#decrypted-files {
  min-height: 130px;
  border: 4px solid #FF851B;
  border-radius: 4px;
  padding: 10px;
  display: none;
}

/* Progress reporting */

#encrypt-progress-summary li, #decrypt-progress-summary li {
  color: #FF4136;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
}

/* Progress indicator */
.progress {
  position: relative;
  float:left;
  margin-left: 10px;
  height: 40px;
  width: 40px;
}
.progress .percent {
  margin-top: -5px;
  text-align: center;
  font-size: 11px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  color: #FF4136;
  position: absolute;
  line-height: 50px;
  width: 100%;
}
.progress svg path {
  fill: none;
}
.progress svg.progress-circle path {
  stroke: #FF4136;
  stroke-width: 1;
}

/* Validation */

.validation-error {
  display: none;
  color: #FF4136;
  font-size: .9em;
}
