body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 300%;
  font-weight: lighter;
  letter-spacing: 4px;
  color: #FF4136;
}

#container {
  padding: 0px 30px 0px 30px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  border: 1px solid #FF851B;
  border-radius: 12px;
  height: 350px;
}

.btn {
  background: #f27c1b;
  background-image: -webkit-linear-gradient(top, #f27c1b, #f23f35);
  background-image: -moz-linear-gradient(top, #f27c1b, #f23f35);
  background-image: -ms-linear-gradient(top, #f27c1b, #f23f35);
  background-image: -o-linear-gradient(top, #f27c1b, #f23f35);
  background-image: linear-gradient(to bottom, #f27c1b, #f23f35);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0px;
}

.btn:hover {
  background: #FF851B;
  background-image: -webkit-linear-gradient(top, #FF851B, #FF4136);
  background-image: -moz-linear-gradient(top, #FF851B, #FF4136);
  background-image: -ms-linear-gradient(top, #FF851B, #FF4136);
  background-image: -o-linear-gradient(top, #FF851B, #FF4136);
  background-image: linear-gradient(to bottom, #FF851B, #FF4136);
  text-decoration: none;
}
